
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  height:100%;
  background: #00c6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff, #0072ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff, #0072ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: arial;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  min-height: 80vh;
}
.thumbnail{border-color: #888;}
.jumbotron .btn {
margin:10px 0;

}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}




#quiz {
 
  position: relative;
 
}

#quiz h1 {

}


#question h2 {
  padding-left: 10px;
  padding-bottom: 40px;
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}

#question input[type=radio] {
  display: none;
}

#question label {
    /*border-radius: 10px;*/
  /*display: inline-block;*/
  margin: 4px;
  padding: 8px;
    font-size: 1em;
    /*background: -webkit-linear-gradient(left, #2ecc71, #27ae60);
  background: linear-gradient(90deg, #2ecc71, #27ae60);*/
  /*color: #FFFFFF;*/

  min-width: 100%;
  cursor: pointer;
}

#question label:hover {
  background: #3498db;
    color:#ffffff;
}

#question input[type=radio]:checked + label {

  background: #1abc7c;
      color:#ffffff;
  /*color: #FAFAFA;*/
}

#quiz-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #FAFAFA;
  width: 100%;
  height: calc(100% - 44px);
}

#quiz-results-message {
  display: block;
  color: #00403C;
  font-size: 20px;
  font-weight: bold;
}

#quiz-results-score {
  display: block;
  color: #31706c;
  font-size: 20px;
}

#quiz-results-score b {
  color: #00403C;
  font-weight: 600;
  font-size: 20px;
}










#made {
  color: #444;
  font-size: 12px;
}
span a {
  color: #000000;
  text-decoration: none;
}
span .glyphicon {
  color: #E90606;
  margin: 0 3px;
  font-size: 13px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
